@sidePanelWidth: 300px;

body {
	background-image: url(/style/subtlenet2.png);
	border-top: 4px solid #263d96;
}

.nav {
	margin-bottom: 0;
}

#pick-points {
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	bottom: 0;
}

.side-panel {
	width: @sidePanelWidth;
	height: 100%;
	border-right: 1px solid #DDD;
	float: left;
	overflow: scroll;
	.side-panel-inner {
		margin: 10px;
	}

	.track {
		padding: 10px 6px 6px 10px;
		.border-radius(3px);
		margin-bottom: 5px;
	}
}

.map-panel {
	margin-left: @sidePanelWidth;
	height: 100%;
	#google-map {
		height: 100%;
	}
}
#google-map label { width: auto; display:inline; }
#google-map img { max-height: none; max-width: none; }

@padding: 30px;

.main {
	position: absolute;
	top: @padding;
	left: @padding;
	right: @padding;
	bottom: @padding;
}

.tab-pane {
	border: 1px solid #DDD;
	border-top: none;
	background-color: white;
}

.logo {
	float: right;
	font-size: 22px;
	padding-top: 5px;
	padding-right: 2px;
	.my {
		color: #263d96;
	}
	.metro {
		color: #960154;
	}
	.map {
		color: #000;
	}
}
