@sidePanelWidth: 300px;

.side-panel {
	width: @sidePanelWidth;
	height: 100%;
	border-right: 1px solid #999;
	float: left;
	overflow: scroll;
	.side-panel-inner {
		margin: 10px;
	}

	.track {
		padding: 10px 6px 6px 10px;
		.border-radius(3px);
		margin-bottom: 5px;
	}
}

.map-panel {
	margin-left: @sidePanelWidth;
	height: 100%;
	#google-map {
		height: 100%;
	}
}
#google-map label { width: auto; display:inline; }
#google-map img { max-height: none; max-width: none; }
